body{
    background-color: #AEF1FF;
}
header img{
    width: 12em;
}
.logo{
    width: 7em;
}
.headings{
    font-style: italic;
    color: #BEBEBE;
}
.subheads{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.text{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}