body{
    background-color: #FBFFFE;
}

img{
    padding: 2em;
}

.row-md-3{
    margin: 2em 0;
}

.bio{
    padding: 2em;
}

.tabs{
    padding: 2em;
}

.nav-link{
    color: #FAA916;
}

.nav-link:hover{
    color: #6D676E;
}

.box{
    width: 100px;
    padding: 5px;
    border: 2px solid;
    margin: 0;
    background-color: #05204A;
}

h2{
    color: #05204A;
    font-family: 'Days One';
}

h4{
    color:#FAA916;
}

h6{
    color:#05204A;
}

p{
    color:black;
}

 .resume{
    width:600px;
    padding:1em;
    border: 1px solid #05204A;
    background-color: lightgray;
 }

 .jobs{
    color:#FAA916;
 }

.col-sm-6{
    margin: 3em 0;
}
