body{
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
}
img{
    padding: 2em;
}
nav{
    margin: 2em 0;
}
li{
    font-family: 'Libre Franklin', sans-serif;  
}
main{
    max-width: 85%;
    display: block;
    margin: 0 auto;
}
.nav-link{
    color: #FAA916;
    padding: 0.5em 0 0 0;
}
.nav-link:hover{
    color: #6D676E;
}
h1{
    color: #05204A;
    font-family: 'Days One', sans-serif;
    text-align: center;  
    padding: 2em 0;
}
h3{
    color:#FAA916;
    font-family: 'Homenaje', sans-serif;
}
h6{
    color:#05204A;
}
img{
    margin:0 auto;
    display: block;
}
.headlines{
    font-family: 'Homenaje', sans-serif;
    font-size: 1.65em;
    text-align: center;
}
.story{
    font-size: 0.85em;
    color:#05204A;
    text-align: center;
}
.text{
    font-size: 1em;
    text-align: center;
    color: #05204A;
}
p{
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
}
@media (max-width: 576px){
    img{
        width: 350px;
    }
}